.openingCrawl {
    margin-left: 25%;
    width: 50%;
    color: yellow;
    background: black;
}

.openingCrawl > div {
    transform-origin: 50% 100%;
    transform: perspective(700px) rotateX(20deg);
}